#prim{
    background-color:rgb(9, 180, 26) !important;
    border: 1px solid rgb(9, 180, 26);
    margin: auto;
      border-radius: 10px;
}
#prim2{
    background-color:rgb(9, 180, 26) !important;
    border: 1px solid rgb(9, 180, 26);
    margin: auto;
    border-radius: 10px;
}
.cabezitas{
    border: none;
}
.setcito{
    text-align: center;
    
}
.unita{
    padding-left: 40px;
    padding-right: 40px;
    border: none;
}
.reycito{
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}
.blancox{
   border: none !important;
}