#container_blanco {
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  margin: 20px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

#Conte1 {
  margin-bottom: 10px;
  background-color: #f1f1f1;
}

#part1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#ver {
  font-weight: bold;
  text-decoration: underline;
}
.contmod{
  display: flex !important;
  flex-direction: row !important;
  margin-bottom: 20px;
  height: 10px;

}
.index{
  display: block;
  font-weight: 800;
  margin-top: 10px;
  margin-bottom: 4px;
  color: #333;
  width: 40%;
  
}
.ultimob{
  background-color:  rgb(9, 180, 26);
  margin: auto;
}
.sombrita{
  width: 50%;
  margin-top: 10px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
  outline: none;
  border: 1px solid black !important;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}
.dedito{
  padding-left: 40px;
  padding-right: 40px;
}
.verdecito{
  background-color:rgb(9, 180, 26) ;
}
.titulito{
  color: white;
  margin-left: 10px;
}
.fotito{
  margin-top: 40px;
  height: 240px;
  margin-left: 60PX;
  margin-right: 60PX;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}
.contmod1{
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 20px;
  height: 50px;
  border-radius: 3px ;

}
.sombrita1{
  width: 95%;
  margin: auto;
  margin-top: 10px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
  outline: none;
  border: 1px solid black !important;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  text-align: center;
  
}
