.Cuadros {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
  padding: 20px;
}

.fila-superior,
.fila-inferior {
  display: flex;
  justify-content: center;
  gap: 3rem;
  flex-wrap: wrap;
  width: 100%;
}

.cuadro1,
.cuadro2,
.cuadro3,
.cuadro4 {
  text-align: center;
  background-color: #f0f0f0;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
  border-radius: 12px;
  padding: 20px;
  transition: transform 0.2s ease;
  width: 280px;
  min-height: 200px;
}

.cuadro1:hover,
.cuadro2:hover,
.cuadro3:hover,
.cuadro4:hover {
  transform: scale(1.03);
}


.boton1{
  margin-top: 3rem;
  padding: 10px 20px;
  background-color: #00AF00;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  transition: background-color 0.3s ease;
  width: 60%
}
.boton_esc{
  margin-top: 16px;
  padding: 10px 20px;
  background-color: #00AF00;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  transition: background-color 0.3s ease;
  width: 60%;
}
.boton_TV{
    margin-top: 16px;
  padding: 10px 20px;
  background-color: #00AF00;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  transition: background-color 0.3s ease;
  width: 60%;
}
.boton_elements {
  margin-top: 16px;
  padding: 10px 20px;
  background-color: #00AF00;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  transition: background-color 0.3s ease;
  width: 60%;
}

.boton1:hover,
.boton_esc:hover,
.boton_TV:hover,
.boton_elements:hover {
  background-color: #2049a1;
}
