.fila-superiorr{
  display: flex;
  gap: 5rem;
  margin-left: auto;
  margin-right: auto;
}
.fila-inferiorr {
  display: flex;
  gap: 5rem;
  margin-left: auto;
  margin-right: auto;
}

.bot00n1{
  background-color: rgb(9, 180, 26);
  border-color: rgb(9, 180, 26);
  color: white;
  height: 55%;
  width: 45%;
  border-radius: 12px;
  text-decoration: none;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}
.boton_esc{
background-color: rgb(9, 180, 26);
  border-color: rgb(9, 180, 26);
  color: white;
  height: 92%;
  width: 45%;
  border-radius: 12px;
  text-decoration: none;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}
.boton_TV{
background-color: rgb(9, 180, 26);
  border-color: rgb(9, 180, 26);
  color: white;
  height: 55%;
  width: 45%;
  border-radius: 12px;
  text-decoration: none;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}
.boton_elements {
background-color: rgb(9, 180, 26);
  border-color: rgb(9, 180, 26);
  color: white;
  height: 150%;
  width: 45%;
  border-radius: 12px;
  text-decoration: none;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.boton1:hover,
.boton_esc:hover,
.boton_TV:hover,
.boton_elements:hover {
  background-color: #2049a1;
}


/* CUADRO PORTÁTILES */
.CuadroP0rt {
  position: relative;
  width: 360px;
  height: 300px;
  background-image: linear-gradient(to right, rgb(255, 255, 255), #888888);
  border-style: solid;
  color: white;
  border-radius: 20px;
  overflow: hidden;
  text-align: center;
  padding-top: 2rem;
}
.CuadroP0rt:hover {
  border: 3px solid rgb(9, 180, 26);
  box-shadow: 0 0 15px rgb(9, 180, 26); 
}
.background-effect-port {
  position: absolute;
  top: -50px;
  left: -50px;
  width: 200px;
  height: 200px;
  background: radial-gradient(circle at center, #000000, #282928); 
  border-radius: 50%;
  z-index: 1;
  transition: transform 0.5s ease;
}
.imagen-animada-port {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2.5rem;
  z-index: 2;
  transition: transform 0.5s ease;
}
.CuadroP0rt:hover .imagen-animada-port {
  transform: translateY(-20px) rotate(-5deg);
}
.CuadroP0rt:hover .background-effect-port {
  transform: scale(1.5);
}


/* CUADRO ESCRITORIO */
.CuadroEscr {
  position: relative;
  width: 360px;
  height: 300px;
background-image: linear-gradient(to right, #888888, rgb(255, 255, 255));
  border-style: solid;
  color: white;
  border-radius: 20px;
  overflow: hidden;
  text-align: center;
  
}
.CuadroEscr:hover {
  border: 3px solid #0077ff;
  box-shadow: 0 0 15px #0077ff; 
}
.background-effect-escr {
  position: absolute;
  top: -50px;
  right: -50px;
  width: 200px;
  height: 200px;
  background: radial-gradient(circle at center, #000000, #282928); 
  border-radius: 50%;
  z-index: 1;
  transition: transform 0.5s ease;
}
.imagen-animada-escr {
  width: 200px;
  margin-top: 1.3rem;
  margin-left: auto;
  margin-right: auto;
  z-index: 2;
  transition: transform 0.5s ease;
}
.Tit-002{
  margin-top: -2rem;
}
.CuadroEscr:hover .imagen-animada-escr {
  transform: translateY(-20px) rotate(5deg);
}
.CuadroEscr:hover .background-effect-escr {
  transform: scale(1.5);
}


/* CUADRO TELEVISOR */
.CuadroTV {
  position: relative;
  width: 360px;
  height: 300px;
  background-image: linear-gradient(to right, rgb(255, 255, 255), #888888);
  border-style: solid;
  color: white;
  border-radius: 20px;
  overflow: hidden;
  text-align: center;
  
}
.CuadroTV:hover {
  border: 3px solid #0077ff;
  box-shadow: 0 0 15px #0077ff; 
}
.background-effect-tv {
  position: absolute;
  top: -50px;
  left: -50px;
  width: 200px;
  height: 200px;
  background: radial-gradient(circle at center, #000000, #282928); 
  border-radius: 50%;
  z-index: 1;
  transition: transform 0.5s ease;
}
.imagen-animada-tv {
  width: 200px;
  margin-top: 2.5rem;
  margin-left: auto;
  margin-right: auto;
  z-index: 2;
  transition: transform 0.5s ease;
}
.CuadroTV:hover .imagen-animada-tv {
  transform: translateY(-20px) rotate(-5deg);
}
.CuadroTV:hover .background-effect-tv {
  transform: scale(1.5);
}


/* CUADRO ELEMENTOS */
.CuadroElem {
  position: relative;
  width: 360px;
  height: 300px;
  background-image: linear-gradient(to right, #888888, rgb(255, 255, 255));
  border-style: solid;
  color: white;
  border-radius: 20px;
  overflow: hidden;
  text-align: center;
}
.CuadroElem:hover {
  border: 3px solid rgb(9, 180, 26);
  box-shadow: 0 0 15px rgb(9, 180, 26); 
}
.background-effect-elem {
  position: absolute;
  top: -50px;
  right:-50px;
  width: 200px;
  height: 200px;
  background: radial-gradient(circle at center, #000000, #282928); 
  border-radius: 50%;
  z-index: 2;
  transition: transform 0.5s ease;
}
.imagen-animada-elem {
  width: 200px;
  margin-top: 2.5rem;
  margin-left: auto;
  margin-right: auto;
  z-index: 2;
  transition: transform 0.5s ease;
}
.CuadroElem:hover .imagen-animada-elem {
  transform: translateY(-20px) rotate(5deg);
}
.CuadroElem:hover .background-effect-elem {
  transform: scale(1.5);
}
.Tit-004{
  margin-top: -3rem;
}