.linea{
  display: flex;
  padding-top: 20px;
}
#Conte{
    border: 2px solid black;
    width: 90%;
    height: 60px;
    margin: auto;
    border-radius: 4px;
    margin-bottom: 5px;
    margin-top: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: row;
    
}
.part{
    width: 90%;
    margin-left: 50px;
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}
.buttonSoli {
  color: black;
  cursor: pointer !important;
  padding: 0 !important;
  border: none !important;
  background: none !important;
  margin-right: 20px;
}
.centrico{
  text-align: left;
  width: 100%;
}
.peticiones{
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    margin: auto;
   
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}
.icono{
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
   height: 200px !important;
   width: 90%;
   margin: auto;
}
.clicksito{
  width: 50%;
  margin: auto;
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  margin-bottom: 10px;
  margin-top: 10px;
  background-color: rgb(9, 180, 26);
  border-radius: 5px;
  color: white;
}
.clicksito:hover{
  cursor: pointer;
  background-color:  rgb(27, 144, 27);
}
.jaaa{
  background-color: rgb(9, 180, 26) ;
  color: white;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}