#new_cont{
    width: 100%;
    display: grid;grid-template-columns: 13% 82% 5%;
    grid-template-rows: 100px;
  }
  
  .new_colo{
    margin: 1rem;
  }
  #basic-navbar-nav {
    border: none ;
    height: auto ;
    width: 500%;
  }
  
  
  #desplegable1{
    background-color:rgb(9, 180, 26) ;
    text-align: center;
    border: 2px solid black;
    font-size: 200%;
    font-family: 'Roboto', sans-serif;
    font-weight: 8000;
  
  }
  #desplegable2{
    background-color: transparent;
    border: none;
    height: auto;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    margin-top: 0.5rem;
    padding: 0.5rem;
  }
  #desplegable3{
    height: 40px;
    border: 2px solid black;
    border-radius: 10px;
    margin-top: 14px;
    font-size: 120%;
    font-family: 'Roboto', sans-serif;
    font-weight: 1000;
  }
  #desplegable4{
    height: 40px;
    border: 2px solid black;
    border-radius: 10px;
    margin-top: 14px;
    font-size: 120%;
    font-family: 'Roboto', sans-serif;
    font-weight: 1000;
  }
  
  
  #menu {
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
  }
  
  #basic-navbar-nav {
    background-color: transparent;
    height: auto; 
    border: none;
  }
  
  #solicitud{
    width: 70%;
    text-align: center;
    font-size: 300%;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    
  }
  #Nav1{
    width: 30%;
    margin-bottom: 20px;
    padding-left: 300px;
    font-size: 111%;
    color: white;
    padding-bottom: 40px;
  }
  .Datosequipo{
    margin-top: 2rem;
    margin-left: 1rem;
  }
  .inventario-header {
    display: flex; 
    align-items: center; 
    margin-top: 2rem;
    margin-left: 7rem;
  }
  
  .Nom_inventario {
    margin-top: 0; 
    margin-right: 1rem; 
  }
  
  .Cuerpo_nav {
    margin-top: 3rem;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    border-radius: 20px; 
    display: inline-block; 
    padding: 0.5rem 2rem;
 
    width: calc(100% - 15rem);
  }
  
  .brand-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: relative;
    margin-left: 1rem;
  }
  
  .brand-text {
    text-align: center;
    flex: 0%;
  }
  .right-elements {
    display: flex;
    align-items: center;
    gap: 10px; /* Espacio entre ícono y botón */
  }
  
  .herramientas-icono {
    font-size: 1.2rem;
    color: #000000; /* o el color que uses */
  }
  

  .Reportar {
    background-color: #8B9490;
    border-radius: 20px;
    color: white;
    border: none;        
    outline: none;       
  }
  
  .Reportar:hover {
    background-color: #ff0a22;
  }
  .Titul1{
    text-align: center;
  }
.Header1{
  background-color: rgb(9, 180, 26) ; 
  color: white;
}
.Cuerpovent{
  height: 450px;
  width: 100%;
}
.Cuadrito1{
  display: flex;
  align-items: center;
  background-color: rgb(9, 180, 26); ;
  color: white;
  border-radius: 20px;
  width: 30%;
  height: 50px;
}
.Text1{
  margin-left: 1rem;
  margin-top: 0.5rem;
  text-align: center;
}
.mb-3{
  margin-top: 1.2rem;
  margin-left: auto;
  margin-right: 1rem; 
}
.Conteiner01{
  display: flex;
  background-color: white;
  width: 100%;
  gap: 3rem;
  grid-template-columns: repeat(3, 200px);
  grid-template-rows: repeat(2, 100px);
}
.Conteiner02{
  display: flex;
  background-color: white;
  width: 100%;
  gap: 3rem;
  grid-template-columns: repeat(3, 200px);
  grid-template-rows: repeat(2, 100px);
  margin-top: 1rem;
}
.Conteiner03{
  margin-top: 1rem;
  display: flex;
  background-color: white;
  width: 100%;
  gap: 3rem;
  grid-template-columns: repeat(3, 200px);
  grid-template-rows: repeat(2, 100px);
}
.Text2{
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  height: 7rem;
}
.Text3{
  text-align: start;
}
.botoon{
  margin-top: 1rem;
  margin-left: 14rem;
  margin-right: auto;
  width: 30%;
  background-color: rgb(9, 180, 26);
  color: white;
  outline: none;
  border: none;
}
.botoon:hover{
  background-color:rgb(9, 180, 26);
  outline: none;
}
.Ajustpagina{
margin-top: 1.6rem;
}
.Ajustfooter{
margin-top: 2.9rem;
}
.Blanco{
padding-left: 20rem;
}

  