.Conteiner1{
    background-color: #00AF00;
    height: 130px;
  }
  #h1raro{
    background-color: #15ff00;
    text-align: center;
  }
  .Head{
    margin-left: 55rem;
    color: aliceblue;
  }
  .general{
    background-color: #15ff00;
    height: 80px;
  }
  .Text2{
    margin-top: 1rem;
    margin-left: 2rem;
    color: rgb(255, 255, 255);
  }
  .menuespa {
    display: flex;
    justify-content: center; 
    align-items: center;
    margin-top: 18px;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
  }
  .titulo1{
    text-align: center;
    margin-top: 4rem;
  }

  #inputPassword5 { 
    width: 20%;
    height: 2.5rem;
    padding: 0.375rem 0.75rem;
    font-size: 0.8rem;
  }
  .conteinercenter {
    display: flex;
    flex-direction: column; 
    align-items: center;    
    justify-content: center;
    margin-top: 6rem;
    }
  .conteinercenter2{
    display: flex;
    flex-direction: column; 
    align-items: center;    
    justify-content: center;
    margin-top: 6rem;
  }
  .conteinercenter2 {
    padding: 10px;
  }
  
  .boton-personalizado {
    background-color: #00b000;
    color: black;
    border-radius: 8px;
  }