div {
    text-align: center;
    background-color: rgb(255, 255, 255);

}

h1 {
    background-color: #15ff00;
}

.admin-container {
    position: relative;
}

.custom-buttons-container {
    position: absolute;
    top: 0rem;
    right: 1rem;
    display: flex;
    gap: 0.5rem;
    color: rgb(0, 255, 30);
    text-decoration: underline;
    background-color: #15ff00;
}

.icon-container {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 24px;
    color: #ffffff;
    background-color: #15ff00;
}

.success {
    margin-top: 20px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #15ff00;
}

.alert {
    background-color: #ffffff;
    text-align: start;
}

.custom-dropdown-button {
    background-color: #15ff00;
}

.ticket-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    padding: 10px 15px;
    margin-bottom: 12px;
    color: black;
}

.izquierda,
.derecha {
    display: flex;
    align-items: center;
}

.izquierda {
    gap: 10px;
}

.derecha {
    gap: 10px;
}

.icono,
.folder {
    font-size: 35px;
}

.estado span,
.ticket span {
    background-color: #ccc;
    padding: 6px 16px;
    border-radius: 16px;
    font-weight: 600;
    color: black;
}

.ver-boton {
    background-color: white;
    border: 1px solid #000;
    padding: 5px 12px;
    border-radius: 6px;
}

.ver-boton:hover {
    background-color: #f0f0f0;
}