.pedidos-ele{
    height: 100%;
    width: 100%;
}
.Cont_elemen{
    display:flex;
    gap: 42px;
    margin-left: 6rem;
    margin-top: 22px;
}
.Btn_ele{
    width: 15rem;
    background-color:azure;
    color: black;
    border-color: black;
} 
.Btn_cable{
    width: 15rem;
}
.Cont_inv{
    margin-top: 8px;
    
}
.p-2{
    display: flex;
    gap: 40rem;
    border-color: black;
    border-style:inset;
    border-radius: 15px;
    border-width: 2px;
}
.Btn_add{
    width: 10rem;
    border-color: azure;
    border-radius: 15px;
}
.Lista_ele{
    margin-right: 1rem;
}
.Btn_conf{
    height: 3rem;
    width: 15rem;
    margin-top: 1rem;
    margin-left: 40.4rem;
    background-color: #00AF00;
    border-radius: 10px;
    border-color: #00AF00;
}
.Cont_ele{
    gap: 2rem;
      display: flex;
  justify-content: center;
  flex-direction: column;
}
.Msj_ele{
    margin-top: 30rem;
    margin-left: 42rem;
    width: 210px;
    position: absolute;
    background-color: #00AF00;
    border-radius: 15px;
    color: white;
}
.Pagi_ele{
    margin-top: 3rem;
    margin-right: 1rem;
}
.fotajus{
    margin-top: 2.7rem;
}