
.principe {
  border-radius: 16px;
  padding: 20px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
  border: none;

}

.cabeza {
  border-bottom: none;
  justify-content: center;
  padding-bottom: 0;
  background-color:rgb(9, 180, 26) ;
}
.cuerpito {
  padding-top: 10px;
  padding-bottom: 10px;
  
}

.origin {
  display: block;
  font-weight: 800;
  margin-top: 10px;
  margin-bottom: 4px;
  color: #333;
  width: 40%;

  
}

.tecito {
  width: 50%;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
  outline: none;
  font-size: 15px;
  border: 1px solid black !important;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.piecito {
  justify-content: center;
  border-top: none;
  padding-top: 0;
}
#buttonModalTec{
  background-color: rgb(9, 180, 26);
  width: 22%;
  justify-content: center !important;
  border-radius: 8px;
  font-weight: 600;
  font-size: 16px;
}
.Cont_label_tec{
  display: flex;
  margin-bottom: 10px;
}
.origin{
  width: 60%;
  margin-right: 20px;
  
}
.titulito{
  color: white;
}