.container_blanco{
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
    margin-bottom: 20px;
    height: 100%;
}
.Conte1{
    border: 2px solid rgba(0, 0, 0, 0.438);
    width: 90%;
    height: 60px;
    margin: auto;
    margin-bottom: 5px;
    margin-top: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    z-index: 10;
    display: flex;
}

.part1{
    width: 98%;

    display: flex;

}
.vert{
    border: 2px solid black;
    width: 15%;
    text-align: center;
    height: 35px;
    margin: auto;background-color: white;
    color: black;

}
.aja{
    width: 85%;
}
.pcesito{
    
    width: 120px;
    height: 120px;
    margin: auto;
    margin-bottom: 10px;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f5f5f5;
    border-radius: 8px;
    border: 1px solid #e0e0e0;
}
.reportes{
    width: 20%;
    margin-top: 50px !important;
    margin-bottom: 50px !important;
    border: 1px solid rgb(202, 202, 202);
    border-radius: 10px;
    text-align: center;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid rgba(0, 128, 0, 0.818);
    margin: 25px auto !important;
    height: auto;
    min-height: 420px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    overflow: hidden;
}
.reportes:hover{
    box-shadow:  4px 4px 4px 4px rgb(224, 248, 221) ;
    
}

.izquierdita{
   
   margin: auto;
}
.container_blanco100{
    
    width: 100%;

    border-radius: 10px;
    margin-bottom: 20px;
    height: 100%;
    display: flex;
    flex-direction: row;
}
.buttoninfo {
color: white;
cursor: pointer !important;
padding: 5px 12px !important;
border: none;
background-color: rgb(9, 180, 26) !important;
width: 70%;
margin: 10px auto 5px auto;
box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
height: auto;
min-height: 28px;
font-size: 0.85rem;
font-weight: 500;
}
.buttoninfo:hover{
    background-color: rgb(27, 144, 27) !important;
    color: white;
}



.carrusel{

    height: 760px;
}
.carrusel_1{
    display: flex;
    flex-direction: row !important;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}
.carousel-control-prev{
    width: 3%;
}
.carousel-control-next{
    width: 3%;
    
}

.comp{
    position: relative;
    width: 110px;
    height: 110px;
    margin: auto;
    object-fit: cover;
    border-radius: 4px;
}
.dibsi{
    display: flex;
}
.oscuro{
    border: 1px solid green;
}
.oscuro:hover{
    background-color:rgb(9, 180, 26) ;
    color: white;
    border: 1px solid white;
}
.oscuro:active{
    background-color:rgb(9, 180, 26) !important ;

}
.Cuadro_busc_porta{
    margin-right: 40px !important;
      font-family: inherit;
  font-size: inherit;
  background-color: #f4f2f2;
  border-color: #00AF00;
  color: #000000;
  padding: 0.7rem 1rem;
  border-radius: 30px;
  width: 15em;
  height: 40px;
  margin-top: 1.5rem;
  margin-left: 1.5rem;
  transition: all ease-in-out .5s;
  margin-right: -2rem;
}

.carrusel-centro {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 500px;
}
.carrusel-centro .carousel-control-prev,
.carrusel-centro .carousel-control-next {
  top: 50%;
  transform: translateY(-50%);
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.carrusel-centro .carousel-control-prev {
  left: 0;
}
.carrusel-centro .carousel-control-next {
  right: 0;
}
.carrusel-centro .carousel-control-prev-icon,
.carrusel-centro .carousel-control-next-icon {
  background-color: #00AF00 !important;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.08);
  opacity: 1;
  background-image: none !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.carrusel-centro .carousel-control-prev-icon::after,
.carrusel-centro .carousel-control-next-icon::after {
  content: '';
}
.carrusel-centro .carousel-control-prev-icon {
  mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="white" class="bi bi-chevron-left" viewBox="0 0 16 16"><path fill="white" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/></svg>') center/60% no-repeat;
  -webkit-mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="white" class="bi bi-chevron-left" viewBox="0 0 16 16"><path fill="white" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/></svg>') center/60% no-repeat;
}
.carrusel-centro .carousel-control-next-icon {
  mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="white" class="bi bi-chevron-right" viewBox="0 0 16 16"><path fill="white" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/></svg>') center/60% no-repeat;
  -webkit-mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="white" class="bi bi-chevron-right" viewBox="0 0 16 16"><path fill="white" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/></svg>') center/60% no-repeat;
}