.container_blanco{
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
    margin-bottom: 20px;
    height: 100%;
}
.Conte1{
    border: 2px solid rgba(0, 0, 0, 0.438);
    width: 90%;
    height: 60px;
    margin: auto;
    margin-bottom: 5px;
    margin-top: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    z-index: 10;
    display: flex;
}

.part1{
    width: 98%;

    display: flex;

}
.vert{
    border: 2px solid black;
    width: 15%;
    text-align: center;
    height: 35px;
    margin: auto;background-color: white;
    color: black;

}
.aja{
    width: 85%;
}
.pcesito{
    
    width: 70%;
    margin: auto;
    margin-bottom: 10px;
    height: 200px;

   
}
.reportes{
    width: 20%;
    margin-top: 50px !important;
    margin-bottom: 50px !important;
    border: 1px solid rgb(202, 202, 202);
    border-radius: 10px;
    text-align: center;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid rgba(0, 128, 0, 0.818);
    margin: auto;
    height: 420px;
}
.reportes:hover{
    box-shadow:  4px 4px 4px 4px rgb(224, 248, 221) ;
    
}

.izquierdita{
   
   margin: auto;
}
.container_blanco100{
    
    width: 100%;

    border-radius: 10px;
    margin-bottom: 20px;
    height: 100%;
    display: flex;
    flex-direction: row;
}
.buttoninfo {
color: white;
cursor: pointer !important;
padding: 0 !important;
border: none;
background-color: rgb(9, 180, 26) !important;
width: 40%;
margin-bottom: 10px;
box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
height: 30px;
margin-top: 10px;
margin: auto;
margin-bottom: 10px;
}
.buttoninfo:hover{
    background-color: rgb(27, 144, 27) !important;
    color: white;
}



.carrusel{
    padding-top: 80px;
    height: 760px;
}
.carrusel_1{
    display: flex;
    flex-direction: row !important;
}
.carousel-control-prev{
    width: 3%;
}
.carousel-control-next{
    width: 3%;
    
}

.comp{
    position: relative;
    width: 100%;
    margin-top: 50px;
}
.dibsi{
    display: flex;
}
.oscuro{
    border: 1px solid green;
}
.oscuro:hover{
    background-color:rgb(9, 180, 26) ;
    color: white;
    border: 1px solid white;
}
.oscuro:active{
    background-color:rgb(9, 180, 26) !important ;

}
.Cuadro_busc_porta{
    margin-right: 40px !important;
      font-family: inherit;
  font-size: inherit;
  background-color: #f4f2f2;
  border-color: #00AF00;
  color: #000000;
  padding: 0.7rem 1rem;
  border-radius: 30px;
  width: 15em;
  height: 40px;
  margin-top: 1.5rem;
  margin-left: 1.5rem;
  transition: all ease-in-out .5s;
  margin-right: -2rem;
}