.container_blanco{
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
    margin-bottom: 20px;
    height: 100%;
}
.Conte1{
    border: 2px solid rgba(0, 0, 0, 0.438);
    width: 90%;
    height: 60px;
    margin: auto;
    margin-bottom: 5px;
    margin-top: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    z-index: 10;
    display: flex;
}

.part1{
    width: 98%;

    display: flex;

}
.vert{
    border: 2px solid black;
    width: 15%;
    text-align: center;
    height: 35px;
    margin: auto;background-color: white;
    color: black;

}
.aja{
    width: 85%;
}