.header_crear_main { 
  width: 100%;
  background-color: rgb(9, 180, 26);
  padding: 0.1rem 1rem;
}

.main-header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  gap: 1rem;
}

.Icon_menu {
  background-color: rgb(9, 180, 26);
  border: none;
}

.Icon_menu .bi-list {
  font-size: 30px;
  color: white;
}

.header_crear_title { 
  font-size: 2.8rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  color: white;
  margin-left: 8rem;
  flex-grow: 1;
  text-align: center;
}

.Iconosst { 
  display: flex;
  align-items: center;
  justify-content: flex-end;
  text-decoration: underline;
  gap: 1rem;
  color: white;
  margin: auto;
}

.header_menuuu {
  background-color: rgb(9, 180, 26);
  color: white;
  text-align: center;
  width: 100%;
  border-radius: 1px;
}

.header_menu {
  background-color: rgb(9, 180, 26);
  color: white;
  text-align: center;
  width: 100%;
  height: 45px;
}

.cuadrito1 {
  color: black;
  border-radius: 20px;
  height: 50px;
  width: 100%;
  text-align: center;
  border: 1px solid black;
  margin: 1rem 0;
  text-decoration: none;
  display: block;
}

.cuadrito1:hover {
  background-color: rgb(207, 209, 207);
  transform: translateY(-3px);
}

.configts {
  display: flex;
  width: 100%;
}