#solicitud1{
    justify-content: center;
    color: aliceblue;
    height: 60px;
    font-size: 200%;
}
#num_port{
    margin-left: 18rem;
    margin-right: auto;
}
#Button_ver{
    background-color: black;
}
#Lista_eq{
    justify-content: space-between;
}
#Pag_form{
    margin-left: 15rem;
}