.list-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    padding: 10px 15px;
    margin-bottom: 12px;
    color: rgb(255, 255, 255);
}
.izquierda,
.derecha {
    display: flex;
    align-items: center;
}

.izquierda {
    gap: 10px;
}

.derecha {
    gap: 10px;
}
.piepor{
    justify-content: center;
}
