[name="lista-inventario1"] {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: auto;
  width: 95%;
}

/*Estilos de os cuadros de portatiles*/

.card_port {
  position: relative;
  width: 15rem;
  height: 16.7rem;
  box-shadow: 0px 1px 13px rgba(0,0,0,0.1);
  cursor: pointer;
  transition:none 120ms;
  display: grid;
  align-items: start;
  justify-content: center;
  background: #fff;
  padding: 0.5em;
  margin-top: 5rem;
  transform: translateY(-10px) scale(1.05);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
} 

.card_port:hover{
  transform: translateY(-10px) scale(1.05);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

.img_port img{
  width: 9rem;
  height: 10rem;
  object-fit: contain;
  margin-left: 2.5rem;
}

.btn_detalles{
  background-color: #00AF00;
  border: none;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 1rem;
}

.card_port .title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9em;
  font-weight: 400;
  color: #000;
  margin-left: auto;
  align-content: center;
  margin-left: 1.5rem;
}

.card_port .price {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 0.9em;
  position: absolute;
  left: 0.625em;
  bottom: 0.625em;
  color: #000;
}

.card_port:hover::after {
  bottom: 0;
  opacity: 1;
}

.card_port:active {
  transform: scale(0.98);
}

.text {
  max-width: 55px;
}

.image {
  background: rgb(241, 241, 241);
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}

#piepor {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px 0;
  gap: 1.3rem;
}

.Btn_confir{
    height: 3rem;
    width: 15rem;
    margin-top: 0.2rem;
    margin-left: auto;
    margin-right: auto;
    background-color: #00AF00;
    border-radius: 10px;
    border-color: #00AF00;
    color: white;
}
.Msj_modal{
    font-size: 25px;
    margin-top: 32rem;
    margin-left: 48rem;
    width: 13.2rem;
    position: absolute;
    background-color: #00AF00;
    border-radius: 15px;
    color: white;
}

.pagination {
  justify-content: center;
  margin-bottom: -5rem;
}

.pagination .page-item .page-link {
  color: #007bff;
  border-color: #ddd;
}

.pagination .page-item.active .page-link {
  background-color: #007bff;
  border-color: #007bff;
  color: white;
}

.Titmodal {
  background-color: rgb(9, 180, 26); 
  color: #ffffff;
}

.btn_conf_port {
  all: unset;
  display: flex;
  align-items: center;
  position: relative;
  background-color: #00AF00;
  border: #00AF00 solid 0.15em;
  border-radius: 0.25em;
  color: rgb(255, 255, 255);
  font-size: 1rem;
  width: 98%;
  text-align: center;
  height: 2rem;
  cursor: pointer;
  padding: 0.6rem 2rem;
  overflow: hidden;
  transition: border 300ms, color 300ms;
  user-select: none;
}

.btn_conf_port p {
  z-index: 1;
}

.btn_conf_port:hover {
  color: #212121;
}

.btn_conf_port:active {
  border-color: teal;
}

.btn_conf_port::after, .btn_conf_port::before {
  content: "";
  position: absolute;
  width: 9em;
  aspect-ratio: 1;
  background: #00af00c1;
  opacity: 50%;
  border-radius: 50%;
  transition: transform 500ms, background 300ms;
}

.btn_conf_port:before {
  left: 0;
  transform: translateX(-8em);
}

.btn_conf_port::after {
  right: 0;
  transform: translateX(8em);
}

.btn_conf_port:hover:before {
  transform: translateX(-1em);
}

.btn_conf_port:hover:after {
  transform: translateX(1em);
}

.btn_conf_port:active:before,
.btn_conf_port:active:after {
  background: teal;
}

.Botones_port{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 1rem;
  margin-top: 1rem;
  width: 30rem;
  gap: 3rem;
}

.Btn1_Conf {
  background-color: rgb(9, 180, 26);
  border: none;
  width: 15rem;
  color: white;
  padding: 0.6rem 2rem;
  border-radius: 10px;
}

.Btn_Conf:hover {
  background-color: rgb(0, 150, 0);
}

.form-vertical {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  gap: 1rem; 
  margin-top:-3rem;
  background-color: transparent;
  border: none;
  box-shadow: none;
  width: 95%;
}

.tx1 {
  border-color: black;
  border-radius: 10px;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.cuer-mo {
  height: 700px;
}

.Usu-container1{
  height: 100%;
  width: 100%;
}


.fotaj {
  display: flex;
  flex-direction: column;
  min-height: 22.6vh; /* Se asegura de que el contenedor principal siempre ocupe al menos la altura de la ventana. */
}

.contenido_fotaj {
  flex-grow: 1; /* Esta es la clave. Le dice al contenido que crezca para ocupar el espacio disponible. */
}