form {
  background-color: #f8f9fa;
  padding: 65px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
  width: 30%;
  margin-left: 14rem;
  margin-right: auto;
  margin-top: 18rem;
  border-style:solid;
  border-color: black;
  height: 380px;
}

.iniciarsesion
{
  background-color: #f8f9fa;
  color: rgb(0, 0, 1);
}
.grupoinicio{
  background-color: rgb(255, 255, 255);
  color: black;
  margin-top: 3rem;
  border-style:solid;
  border-color: black;
  border-radius: 8px;
}
.grupocontraseña{
  color: black;
  margin-top: 1rem;
  border-style:solid;
  border-color: black;
  border-radius: 8px;
}
.botton{
  margin-top: 2rem;
  background-color: rgb(9, 180, 26); ;
  cursor: pointer;
  margin-left: 5rem;
  margin-right: auto;
  width: 50%;
  height: 20%;

}
.Fondo {
  background-image: url('../assets/Fondo.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh; 
  width: 100vw; 
  display: flex; 
}





