.acomodeichion2 {
  display: flex;
  margin-top: 2rem;
}

.form-grid-01{
  width: 800px;
  margin-top: 4rem;
  border-radius: 12px;    
  margin-right: 10rem;                                                                                                                                                          
}

.Reacomodaciontele{
  width: 98.8%;
  margin-top: 1rem;
}

.bton-cOnfirmacion {
  width: 100%;
  padding: 14px;
  border: none;
  border-radius: 10px;
  background-color: #2ecc71;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  margin-top: 1rem;
  transition: background-color 0.3s ease;
}
.bton-submit:hover {
  background-color: #27ae60;
}


.decoracionredondeadaaa {
  position: relative;
  display: inline-block;
}

.decoracionredondeadaaa::before {
  content: "";
  position: absolute;
  top: 29%;
  left: 34%;
  width: 250px;
  margin-left: -2rem;
  height: 250px;
  border-radius: 50%;
  transform: translate(-40%, -50%);
  z-index: 0;
  animation: spinGear 8s linear infinite;

  background: conic-gradient(
    #02ff02,
    #00AF00,
    #02ff02,
    #00AF00,
    #02ff02
  );

  
  -webkit-mask-image: radial-gradient(circle, transparent 35%, black 36%);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  -webkit-mask-size: cover;
}

@keyframes spinGear {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.imagen-Televisorr {
  position: relative;
  width: 62%;
  margin-left: 15rem;
  height: 92%;
  margin-top: 1rem;
}


.ajustTelevisores{
 margin-top: 10rem;
}

