.Container1 {
  width: 100%;
}

.Encabezado {
  background-color: #00fa00; 
  padding: 10px 20px;
  color: white;
}

.HeaderContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Texto1 {
  font-size: 24px;
  font-weight: bold;
  margin: 0 20px;
  flex-grow: 1;
  text-align: center;
}

.Texto2 {
  background: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 10px;
}

.Navegacion {
  display: flex;
  align-items: center;
  gap: 15px;
}

.IconoPerfil {
  font-size: 20px;
  cursor: pointer;
}
  .Usu-container {
    position: relative;
  }
  
  .custom-buttons-container {
    position: absolute;
    top: 0rem;
    right: 1rem;
    display:flex;
    gap: 0.5rem;
    color: rgb(255, 255, 255);
    text-decoration: underline;
  }
  .icon-container{
    position: absolute;
    font-size: 30px;
    color: white;
  }

  .Cuadros {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
    padding: 20px; /
  }
  
  .fila-superior {
    display: flex;
    justify-content: center;
    gap: 2rem;
    width: 100%; 
    max-width: 800px; 
  }
  
  .fila-inferior {
    margin-top: 2rem;
    width: 100%; 
    max-width: 400px; 
  }
  
  .cuadro1 {
    text-align: center;
    background-color: #ffffff;
    border-color: black;
    border-radius: 8px;
    padding: 15px;
    width: calc(50% - 1rem); 
  }
  .portatiles{
background-color: rgb(255, 255, 255);
  }
  .escritorio{
    background-color: #ffffff;
  }
  .televisores{
    background-color: #ffffff;
  }
  .cuadro2 {
    text-align: center;
    background-color: #ffffff;
    border-color: black;
    border-radius: 8px;
    padding: 15px;
    width: calc(50% - 1rem); 
  }
  
  .cuadro3 {
    text-align: center;
    background-color: #ffffff;
    border-color: black;
    border-radius: 8px;
    padding: 15px;
    width: 100%; 
    margin-top: 2rem; 
   
  }
  
  .boton1 {
    margin-top: 3rem;
    padding: 10px 20px;
    background-color: rgb(133, 132, 132);
    color: white; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: auto; 
  }
  
  .boton_esc {
   
    margin-top: 58px;
    padding: 10px 20px;
    background-color: rgb(133, 132, 132);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: auto;
  }
  
  .boton_TV {
   
    margin-top: 15px;
    padding: 10px 20px;
    background-color: rgb(133, 132, 132);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: auto;
  }


  .navbar {
    position: relative;
    padding: 1rem;
  }
  .header-row {
    display:flex;
    align-items: center;
    justify-content: space-between; 
  }
  .Text1 {
    margin-right: 20px;
    display: flex;
    align-items: center;
  }
