form{
  height: 300px;
  width: 45%;
  text-align: center; 
  background-color:rgb(138, 138, 119);
  margin-top: 13rem;
  margin-left: 10rem;
  margin-right: 10rem;
}
#formBasicEmail{
  width: 80%;
  margin-left: 4rem;
  margin-top: 2rem;
  border-radius: 12px;
}
#formBasicPassword{
  width: 80%;
  margin-left: 4rem;
  margin-top: 4rem;
  border-radius: 12px;
}

#Conte{
  border: 1px solid black;
width: 80%;
margin: auto;
border-radius: 4px;
margin-bottom: 5px;
margin-top: 5px;
}
#solicitud{
  width: 70%;
  background-color:rgb(9, 180, 26);
  height: 60px;
  text-align: center;
  font-size: 200%;
  
}
#Container1{
  background-color:rgb(9, 180, 26);
  width: 100%;
}
#Nav1{
  width: 30%;
  background-color: rgb(9, 180, 26);
  margin-bottom: 20px;
  padding-left: 230px;
  
}
#pie{
width: 50%;
}
.nue{
  width: 50%;
}
.new_cont{
  background-color: rgb(9, 180, 26);
  width: 100%;
  display: flex;
  flex-direction: row;
}